.parallax-mount-section
  .parallax__layer(data-speed="0.1")
      img(src=require("../images/content/parallax/mountain-baloon/layer-0.jpg")).parallax__image
  .parallax__layer(data-speed="0.10")
      img(src=require("../images/content/parallax/mountain-baloon/layer-1.png")).parallax__image
  .parallax__layer(data-speed="0.20")
      img(src=require("../images/content/parallax/mountain-baloon/layer-2.png")).parallax__image
  .parallax__layer(data-speed="0.23")
      img(src=require("../images/content/parallax/mountain-baloon/layer-3.png")).parallax__image
  .parallax__layer(data-speed="0")
      img(src=require("../images/content/parallax/mountain-baloon/layer-4.png")).parallax__image
  .parallax__layer(data-speed="0")
      img(src=require("../images/content/parallax/mountain-baloon/layer-5.png")).parallax__image
  .parallax__layer(data-speed="0")
      img(src=require("../images/content/parallax/mountain-baloon/layer-6.png")).parallax__image                    
