include ./mixins.pug


<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      include ./components/humburger-menu-popup
      .maincontent
        .welcome-section
          .parallax-mount-section
            .parallax__layer(data-speed="0.1")
                img(src=require("./images/content/parallax/mountain-baloon/layer-0.jpg")).parallax__image
            .parallax__layer(data-speed="0.10")
                img(src=require("./images/content/parallax/mountain-baloon/layer-1.png")).parallax__image
            .parallax__layer(data-speed="0.20")
                img(src=require("./images/content/parallax/mountain-baloon/layer-2.png")).parallax__image
            .parallax__layer(data-speed="0.23")
                img(src=require("./images/content/parallax/mountain-baloon/layer-3.png")).parallax__image
            .parallax__layer(data-speed="0.33")
                img(src=require("./images/content/parallax/mountain-baloon/layer-4.png")).parallax__image
            .parallax__layer(data-speed="0.28")
                img(src=require("./images/content/parallax/mountain-baloon/layer-5.png")).parallax__image
            .parallax__layer(data-speed="0.30")
                img(src=require("./images/content/parallax/mountain-baloon/layer-6.png")).parallax__image           
          
          .fullscreensection.hero
            .container.hero__container
              header.header
                a(href="/").logo ЮА
                .header__menu
                  nav.nav
                    ul.nav__list
                    - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
                .header__links
                  ul.socials__list
                    - var socials = ['insta', 'vk', 'github'];
                    - var socialsLink = ['https://www.instagram.com/osminogka_julia/', 'https://vk.com/id2036633', 'https://github.com/JulsDev'];
                    each item, index in socials
                      li.socials__item
                        a(href=socialsLink[index]).socials__link
                          +icon(item, 'socials__icon')

                include ./components/humburger-menu

              .hero__content
                .user-info
                  .user-info__descr Личный сайт<br>веб-разработчика
                  .user-info__name Юлия<br>Асеева
              .hero__scroll-button
                a(href="").scroll-down-button Скролл
                  +icon(`scroll`, 'scroll__icon')
          .fullscreensection.fullscreensection_centered.about
            .container.about__container
              .about__block
                .about__left
                  .person-info
                    .person-info__avatar
                      +image(`content/user.jpg`, 'person-info__avatar-img')
                    .person-info__data
                      table.person-info__table
                        - 
                          var data = [
                            ['Проживаю:', 'Москва'],
                            ['Возраст:', '28 лет'],
                            ['Родилась:', '4 июня 1990'],
                          ]
                        each row in data
                          tr.person-info__data-row
                            td.data-row__first-col #{row[0]}
                            td.data-row__second-col #{row[1]}
                .about__right
                  .person-descr
                    .person-descr__hello Привет, меня зовут
                    .person-descr__name Юлия Асеева
                    .person-descr__youself
                      p Я занимаюсь разработкой современных сайтов и приложений.
                      p Мне нравится делать интересные и современные проекты.
                    .person-descr__footnote
                      p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        
        include ./components/triangles
        
        .section.skills
          .container.skills__container
            .skills-descr
              h2.skills-descr__title Чем я могу быть полезна вам
              .skills-descr__about
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .skills-block
              .skills-person-bag
                  +image(`content/bag.png`, 'skills-bag__img')
              #skills-component
        .section.works
          .container.works__container
            .title.works-title Мои работы
            .works-content
              #works-component
        .contacts-section
          .container__contacts
            .section.reviews
              .container.reviews__container
                .reviews__content-wrapper
                  #reviews-component
            .section.form
              .container.form__container
                .title.form__title Связаться со мной
                .form__content
                  .form__row
                    .form__block.form__block--name
                      label.form__label Введите ваше имя
                      .form__input
                        +icon(`user`, 'form__block-icon')
                        input#name.form__block-input(type='text', name='name', placeholder="Ковальчук Дмитрий", required='')
                    .form__block.form__block--email
                      label.form__label Введите ваш email
                      .form__input
                        +icon(`envelope`, 'form__block-icon')
                        input#email.form__block-input(type='email', name='email', placeholder='loftschool@study.com', required='')             
                  .form__row
                    .form__block
                      label.form__label Сообщение к письму
                      .form__input.form__input--comment
                        +icon(`message`, 'form__block-icon')
                        textarea.form__input.form__textarea(id="message" name="message" type="text" required rows="2"
                          placeholder="Требуется ваша помощь")
                button(type="submit").form__button Отправить
          include ./components/footer
    
    include ./templates/entry.pug

              


                